@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Mew's Gaming</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Xbox Games</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Arcage</td>
                <td>$5/hour</td>
            </tr>
        </tbody>
    </table>
</div>
<h2 class="display-5 text-center">About us</h2>
<p class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Odio facilisis mauris sit amet. Bibendum arcu vitae elementum curabitur vitae. 
    Pretium lectus quam id leo in vitae turpis. Diam phasellus vestibulum lorem sed risus. 
    Auctor neque vitae tempus quam. Dolor sit amet consectetur adipiscing elit pellentesque habitant. 
    Amet mauris commodo quis imperdiet. Ornare aenean euismod elementum nisi quis. Fermentum iaculis eu non diam phasellus. 
    Sed viverra ipsum nunc aliquet bibendum enim. Faucibus a pellentesque sit amet porttitor eget. Donec massa sapien faucibus et molestie ac. 
    Eu volutpat odio facilisis mauris sit amet. Tristique senectus et netus et malesuada fames. 
    Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus.
</p>